@inherits EditInstallerModalBase

@if (Installer != null)
{
    <EditForm Model="Installer" OnValidSubmit="(() => Confirm(Installer))">

        <div class="mb-1 rounded-md border-2 border-gray-700 bg-white p-2">
            <div>First Name</div>
            <div class="border-black border-2">
                <InputText placeholder="First Name..." @bind-Value="Installer.FirstName" />
            </div>
        </div>

        <div class="mb-1 rounded-md border-2 border-gray-700 bg-white p-2">
            <div>Last Name</div>
            <div class="border-black border-2">
                <InputText placeholder="Last Name..." @bind-Value="Installer.LastName" />
            </div>
        </div>

        <div class="mb-1 rounded-md border-2 border-gray-700 bg-white p-2">
            <div>Phone Number</div>
            <div class="border-black border-2">
                <InputText placeholder="Phone Number..." @bind-Value="Installer.PhoneNumber" />
            </div>
        </div>

        <div class="mb-1 rounded-md border-2 border-gray-700 bg-white p-2">
            <div>Square Yard Price</div>
            <div class="border-black border-2">
                <InputNumber placeholder="Price..." @bind-Value="Installer.SquareYardPrice" />
            </div>
        </div>

        <button class="p-2 border-2 border-gray-700 bg-gray-200 rounded-md" type="submit">Confirm</button>
    </EditForm>
}